---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
data:
  kustomize.buildOptions: --enable-helm
  resource.customizations: |
    upgrade.cattle.io/Plan:
      health.lua: |
        hs = {}
        hs.status = "Progressing"
        hs.message = "Applying system upgrade plan"
        if obj.status ~= nil then
          if obj.status.conditions ~= nil then
            for i, condition in ipairs(obj.status.conditions) do
              if condition.type == "Complete" and condition.status == "True" then
                hs.status = "Healthy"
                hs.message = condition.message
                return hs
              end
            end
          end
        end
        return hs
  resourceExclusions: |
    - apiGroups:
        - velero.io
      kinds:
        - Backup
        - Restore
      clusters:
        - "*"
