---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

helmCharts:
  - name: k8s-gateway
    repo: https://ori-edge.github.io/k8s_gateway/
    releaseName: k8s-gateway
    version: 2.4.0
    valuesInline:
      domain: fl.a14n.net lunarkittylanding.party
