# Secrets
password_manager_entry=project/a14n/lab-kubernetes
secret_directory=secrets
if [[ ! -e $(pwd)/${secret_directory}/.mounted ]]; then
  pass $password_manager_entry | encfs --stdinpass --idle=15 $(pwd)/.${secret_directory} $(pwd)/${secret_directory}
  touch $(pwd)/${secret_directory}/.mounted
fi
