---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: vault

helmCharts:
  - name: vault
    repo: https://helm.releases.hashicorp.com
    releaseName: vault
    version: 0.29.1
    valuesInline:
      server:
        dataStorage:
          enabled: true
          size: 10Gi
        ha:
          enabled: true
          # https://developer.hashicorp.com/vault/docs/platform/k8s/helm/examples/ha-with-raft
          raft:
            enabled: true
        ingress:
          enabled: true
          annotations:
            cert-manager.io/cluster-issuer: letsencrypt
          ingressClassName: nginx
          hosts:
            - host: vault.fl.a14n.net
          tls:
            - hosts:
                - vault.fl.a14n.net
              secretName: vault-tls
