---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - resources/namespace.yaml

helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    releaseName: prometheus-stack
    namespace: monitoring
    version: 59.1.0
    valuesInline:
      alertmanager:
        config:
          route:
            receiver: default
            routes:
              - receiver: watchdog
                matchers:
                  - alertname="Watchdog"
                continue: false
              - receiver: solana-validator
                matchers:
                  - service="solana"
                continue: false
          receivers:
            - name: default
              #discord_configs:
              #  - webhook_url: ""
              pagerduty_configs:
                - routing_key_file: /etc/alertmanager/secrets/alertmanager-pagerduty/pd-default
            - name: solana-validator
              pagerduty_configs:
                - routing_key_file: /etc/alertmanager/secrets/alertmanager-pagerduty/pd-solana-validator
            - name: watchdog
              pagerduty_configs:
                - routing_key_file: /etc/alertmanager/secrets/alertmanager-pagerduty/pd-dead-man-switch
        alertmanagerSpec:
          secrets:
            - alertmanager-pagerduty
        ingress:
          enabled: true
          annotations:
            cert-manager.io/cluster-issuer: letsencrypt
          ingressClassName: nginx
          hosts:
            - alertmanager.fl.a14n.net
          tls:
            - hosts:
                - alertmanager.fl.a14n.net
              secretName: alertmanager-tls
      defaultRules:
        rules:
          # k3s does not have these components
          kubeControllerManager: false
          kubeProxy: false
          kubeSchedulerAlerting: false
          kubeSchedulerRecording: false
      grafana:
        ingress:
          enabled: true
          annotations:
            cert-manager.io/cluster-issuer: letsencrypt
          ingressClassName: nginx
          hosts:
            - grafana.fl.a14n.net
          tls:
            - hosts:
                - grafana.fl.a14n.net
              secretName: grafana-tls
        persistence:
          enabled: true
      prometheus:
        ingress:
          enabled: true
          annotations:
            cert-manager.io/cluster-issuer: letsencrypt
          ingressClassName: nginx
          hosts:
            - prometheus.fl.a14n.net
          tls:
            - hosts:
                - prometheus.fl.a14n.net
              secretName: prometheus-tls
        prometheusSpec:
          retention: 30d
          storageSpec:
            volumeClaimTemplate:
              spec:
                accessModes: ["ReadWriteOnce"]
                resources:
                  requests:
                    storage: 50Gi
