---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ingress-nginx-controller

resources:
  - resources/namespace.yaml

helmCharts:
  - name: ingress-nginx
    includeCRDs: true
    repo: https://kubernetes.github.io/ingress-nginx
    releaseName: ingress-nginx
    version: 4.12.1
    valuesInline:
      controller:
        extraArgs:
          enable-ssl-passthrough: true
        services:
          externalIPs:
            - '192.168.8.3'
            - '192.168.8.4'
            - '192.168.8.5'
