---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ingress-nginx-controller

resources:
  - resources/namespace.yaml

helmCharts:
  - name: ingress-nginx
    includeCRDs: true
    repo: https://kubernetes.github.io/ingress-nginx
    releaseName: ingress-nginx
    version: 4.14.2
    valuesInline:
      controller:
        minAvailable: 1
        autoscaling:
          enabled: true
          maxReplicas: 5
          minReplicas: 2
        extraArgs:
          enable-ssl-passthrough: true
        resources:
          requests:
            cpu: 500m
            memory: 512Mi
          limits:
            cpu: 1000m
            memory: 1024Mi
        services:
          externalIPs:
            - '192.168.8.3'
            - '192.168.8.4'
            - '192.168.8.5'
