---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - resources/namespace.yaml
  - resources/ingress.yaml
  - https://github.com/argoproj/argo-cd//manifests/cluster-install?ref=v3.3.0

patches:
  - path: patches/configmap-argocd.yaml
  - path: patches/configmap-argocd-notifications.yaml
