---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: uptime-kuma

resources:
  - https://github.com/adborden/k8s-uptime-kuma.git/uptime-kuma?ref=main
  - resources/ingress.yaml
  - resources/namespace.yaml

patches:
  - path: patches/deployment.yaml
