---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://github.com/kubernetes-csi/external-snapshotter.git//client/config/crd?ref=v8.5.0
  - https://github.com/kubernetes-csi/external-snapshotter.git//deploy/kubernetes/snapshot-controller?ref=v8.5.0
