---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

configMapGenerator:
  - name: google-creds
    files:
      - files/credentials.json
    options:
      disableNameSuffixHash: true

patches:
  - target:
      kind: Ingress
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: vault.fl.a14n.net
