---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cert-manager

resources:
  - resources/namespace.yaml
  - resources/cluster-issuer.yaml

patches:
  #- patches/cert-manager-deployment.yaml
  - target:
      kind: Deployment
      name: cert-manager
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/args/2
        value: --dns01-recursive-nameservers=8.8.8.8:53,1.1.1.1:53

helmCharts:
  - name: cert-manager
    repo: https://charts.jetstack.io
    releaseName: cert-manager
    namespace: cert-manager
    version: 1.10.1
    valuesInline:
      installCRDs: true
